.sliding-puzzle-board {
  position: relative;
}

.sliding-puzzle-tile {
  position: absolute;
  width: 52px;
  height: 52px;
  margin: 2px;
  border-radius: 2px;
  background-size: contain;
  color: white;
}

html {
  background-color: black;
}
